.note {
  background-color: #fef68a;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.noteFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteIcon {
  cursor: pointer;
}
